body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  color: white;
}

p {
  max-width: 216px;
  word-break: break-all;
  margin-bottom: 2px;
}

input:focus {
  outline: none;
}

#root {
  height: 100vh;
  width: 100vw;
  max-width: 100%;
}

#calendar {
  padding: 0.5rem;
  text-align: right;
  right: 0;
  position: absolute;
  z-index: 5000;
  opacity: 0.8;
  color: white;
  text-shadow: 0 5px 5px black, 5px 0 5px black, -5px 0 5px black, 0 -5px 5px black;

  &:hover > h3 {
    cursor: pointer;
    color: black;
    text-shadow: 0 3px 3px white, 3px 0 3px white, -3px 0 3px white, 0 -3px 3px white;
    opacity: 1;
  }
}

#clock {
  text-align: center;
  font-size: 10rem;
  color: white;

  &:hover {
    color: #333;
    text-shadow: 0 10px 10px white, 0 -10px 10px white, 10px 0 10px white, -10px 0 10px white;
  }
}

.line-through {
  text-decoration: line-through;
}

#quote {
  max-width: calc(100vw - 216px);
  font-weight: bold;
  font-style: italic;
}

.text-shadow {
  text-shadow: 0 20px 20px black;
}

.text-shadow-close {
  text-shadow: 0 10px 10px black, 10px 0 10px black, -10px 0 10px black, 0 -10px 10px black;
}

#todo-item-container {
  background-color: rgba(0,0,0,0.8);
  z-index: 5000;
  margin-left: auto;
  width: 216px;
  height: 216px;
  max-width: 216px;
  max-height: 216px;
  overflow-y: auto;
  overflow-x: ellipsis;
}

#todo-toggle {
  color: white;
  text-shadow: 0 5px 5px black, 5px 0 5px black, -5px 0 5px black, 0 -5px 5px black;

  &:hover {
    cursor: pointer;
    color: black;
    text-shadow: 0 3px 3px white, 3px 0 3px white, -3px 0 3px white, 0 -3px 3px white;
  }
}

#todo-form {
  background-color: rgba(0,0,0,0.8);
  width: 216px;
  max-width: 216px;
  color: white;
  border: 0;
  padding: 0.5rem;

  &:focus {
    outline: none;
  }
}